#email {
    padding: 50px;
    margin: 50px auto;
    width: 500px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: seashell;
    box-shadow: 5px 3px 3px gray;
}

#confidential, #top-secret {
    display: inline-block;
    padding: 10px;
    border: 5px solid red;
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
}

#confidential {
    transform: rotate(-20deg);
    margin-left: 100px;
}

#top-secret {
    transform: rotate(15deg);
    margin-left: 200px;
}

.blurred {
    filter: blur(3px);
}